@import "/src/style/login.scss";

@import "/src/style/components/colours.scss";
@import "/src/style/components/fonts.scss";
@import "/src/style/components/buttons.scss";
@import "../components/mixins.scss";
@import url("https://use.typekit.net/rdr3hkg.css");

.page {
  &.page-dashboard {
    //   BOTH MOBILE AND DESKTOP

    .dashboard-con {
      min-height: 100vh;
      max-width: 100%;
      max-height: 100vh;
    }

    //   ONLY ON WIDTH > MEDIUM (DESKTOP)

    &.page-dashboard-desktop {
      .dashboard-con {
        padding: 3rem;
      }

      .dashboard-con-col1 {
        flex-direction: column;
        border-right: 3px solid $white;
        gap: 3rem;

        .col1-user-con {
          position: relative;

          @include font-white-basic;
          height: 30%;
          flex-direction: column;
          // justify-content: space-between;

          .onlinestatus-con {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            height: 100%;
            float: right;
            padding-right: 1.2rem;

            .user-con-onlinestatus {
              height: 1.5rem;
              width: 1.5rem;
              background-color: #a2dc68;
              border-radius: 50%;
              display: table;
              position: absolute;
            }
          }

          .user-con-avatar {
            // background-image: url(../../images/avatar-prel.png);
            outline: 4px solid $olfYellowD;
            background-color: $white;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: 4px solid white;
            border-radius: 50%;
            width: 110px;
            height: 110px;
            align-self: center;
            box-shadow: 0px 3px 6px #00000031;
          }

          .user-con-user-name {
            justify-content: center;
            // padding-bottom: 3rem;
            font-style: italic;
          }
        }

        .col1-nav-con {
          @include font-nav-basic;
          flex-direction: column;
          gap: 2rem;

          svg {
            padding-left: 0.3rem;
            transform: translateY(-0.2rem);
          }

          .nav-con-li {
            cursor: pointer;
            gap: 1rem;
            font-size: 1.3vw;

            svg {
              width: 3vw;
            }

            .active {
              border-bottom: 3px solid white;
            }
          }

          a {
            @include font-nav-basic;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    // .user-con-user-name {
    //   justify-content: center;
    //   padding-bottom: 3rem;
    // }

    // .col1-user-con {
    //   @include font-white-basic;
    //   height: 30%;
    //   flex-direction: column;
    //   justify-content: space-between;
    // }

    .col1-nav-con {
      @include font-nav-basic;
      flex-direction: column;
      gap: 2rem;

      svg {
        padding-left: 0.3rem;
        transform: translateY(-0.2rem);
      }

      .nav-con-li {
        cursor: pointer;
      }

      a {
        @include font-nav-basic;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  //   ONLY ON WIDTH < MEDIUM (MOBILE)

  &.page-dashboard-mobile {
    .dashboard-con-col1 {
      height: 10vh;
      width: 100%;
    }
  }
}
