@import "/src/style/login.scss";

@import "/src/style/components/colours.scss";
@import "/src/style/components/fonts.scss";
@import "/src/style/components/buttons.scss";
@import "../components/mixins.scss";
@import url("https://use.typekit.net/rdr3hkg.css");

.page {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(../../images/Olf-pattern.png),
    linear-gradient(#f6c658, #ff997d);

  &.page-dashboard {
    //   BOTH MOBILE AND DESKTOP

    .dashboard-con {
      min-height: 100vh;
      max-width: 100%;
      max-height: 100vh;
      padding: 3rem;

      .user-con-avatar {
        &:after {
          content: "";
          background-color: hotpink;
          width: 1rem;
          height: 1rem;
          position: absolute;
        }
      }
    }

    //   ONLY ON WIDTH > MEDIUM (DESKTOP)

    &.page-dashboard-desktop {
      .dashboard-con {
      }

      .dashboard-con-col1 {
        flex-direction: column;
        border-right: 3px solid white;

        .user-con-avatar {
          // background-image: url(../../images/avatar-prel.png);
          background-color: white;
          background-size: 65%;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 50%;
          width: 110px;
          height: 110px;
          align-self: center;
          box-shadow: 0px 3px 6px #00000011;
        }

        .user-con-user-name {
          justify-content: center;
          padding-bottom: 3rem;
        }

        .col1-user-con {
          @include font-white-basic;
          height: 30%;
          flex-direction: column;
          justify-content: space-between;
        }

        .col1-nav-con {
          @include font-nav-basic;
          flex-direction: column;
          gap: 2rem;

          svg {
            padding-left: 0.3rem;
            transform: translateY(-0.2rem);
          }

          .nav-con-li {
            cursor: pointer;
          }

          a {
            @include font-nav-basic;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    //   ONLY ON WIDTH < MEDIUM (MOBILE)

    &.page-dashboard-mobile {
      .dashboard-con-col1 {
        height: 10vh;
        width: 100%;
      }
    }
  }
}
