// @import "/src/style/login.scss";

// @import "/src/style/components/colours.scss";
// @import "/src/style/components/fonts.scss";
// @import "/src/style/components/buttons.scss";
// @import "../components/mixins.scss";
// @import url("https://use.typekit.net/rdr3hkg.css");

// .page {
// <<<<<<< HEAD
//   margin: 0;
//   min-width: 100%;
//   min-height: 100vh;
//   background-image: url(../../images/Olf-pattern.png),
//     linear-gradient(#f6c658, #ff997d);

//   &.page-dashboard {
//     //   BOTH MOBILE AND DESKTOP

//     .create-chatroom-con,
//     .search-chatroom-con,
//     .chatroom-con-title-fav-con {
//       justify-content: space-between;
//     }
// =======

//     &.page-dashboard {

//         //   BOTH MOBILE AND DESKTOP

//         .create-chatroom-con,
//         .search-chatroom-con,
//         .chatroom-con-title-fav-con {
//             justify-content: space-between;
//         }

//         .col2-chatroom-con {
//             box-shadow: 0px 3px 6px #00000029;
//         }

//         .search-chatroom-con {
//             width: 100%;
// >>>>>>> 81af40fa0fbe0bc6dabb4ed3d3aa07beb6541b0f

//     .col2-chatroom-con {
//       box-shadow: 0px 3px 6px #00000029;
//     }

//     .search-chatroom-con {
//       width: 100%;

//       label {
//         padding: 0 0.3rem 0 1rem;
//         transform: translateY(15%);
//         color: $greyD;
//       }

//       input[type="text"] {
//         width: 100%;
//       }

//       input[type="checkbox"] {
//         @include checkbox-style;
//         background-color: white;
//         transform: translateY(50%);
//       }

//       input[type="checkbox"]:checked {
//         @include checkbox-style;
//         background-color: $olfred;
//         border: 2px solid white;
//       }
//     }

//     .dashboard-con-col2 {
//       padding: 0;

//       h4 {
//         display: none;
//       }

//       button {
//         background-color: transparent;
//         border-style: none;
//         color: white;
//         border-bottom: 2px solid white;
//       }

//       input {
//       }

//       input[type="text"] {
//         border-style: none;
//         border-radius: 23px;
//         padding: 0.3rem 0.8rem 0.3rem 0.8rem;
//         font-style: italic;
//       }

//       input[type="text"]:focus {
//         outline: none;
//         color: $greyD;
//         font-style: italic;
//       }

//       .dash-home-chatrooms {
//         flex-direction: column;
//         width: 100%;

//         .home-chatrooms-con {
//           flex-direction: column;
//           gap: 1rem;

//           .col2-chatroom-con {
//             cursor: pointer;
//             border-radius: 23px;
//             padding: 1rem 1rem 1rem 1rem;

//             path,
//             svg {
//               @include svg-scale-small;
//               fill: white;
//             }

//             .starmarked {
//               // path,
//               // svg {
//               // @include svg-scale-small;
//               fill: $olfred;
//               // }
//             }

//             .chatroom-con-title-fav-con {
//               h5 {
//                 @include olf-header-2;
//               }
//             }

//             .con-mes-no-message {
//               @include font-red-basic;
//               font-style: italic;
//               padding: 0 0.5rem;
//             }

//             .chatroom-con-mes {
//               .con-mes-avatar {
//                 background-color: $greyM;
//                 color: $greyM;
//                 border-radius: 50px;
//                 width: 40px;
//               }

//               .con-mes-message {
//                 @include font-red-basic;
//                 font-style: italic;
//                 padding: 0 0.5rem;
//               }

//               .con-mes-message-time {
//                 @include grey-text-small;
//                 padding: 0 0.5rem;
//               }
//             }

//             .dash-home-chatrooms {
//                 flex-direction: column;
//                 width: 100%;

//                 .home-chatrooms-con {
//                     flex-direction: column;
//                     gap: 1rem;

//                     .col2-chatroom-con {
//                         cursor: pointer;
//                         border-radius: 23px;
//                         padding: 1rem 1rem 1rem 1rem;

//                         path,
//                         svg {
//                             @include svg-scale-small;
//                             fill: white;
//                         }

//                         .starmarked {

//                             path,
//                             svg {
//                                 @include svg-scale-small;
//                                 fill: $olfred;
//                             }
//                         }

//                         .chatroom-con-title-fav-con {

//                             h5 {
//                                 @include olf-header-2;
//                                 padding-right: 0.5rem;
//                             }
//                         }

//                         .fav-con-admin-icon {
//                             font-size: 13px;
//                             color: white;
//                             background-color: $olfYellow;
//                             border-radius: 50%;
//                             height: 75%;
//                             padding: 0 0.4rem;
//                             // transform: translateY(-5px)
//                         }

//                         .con-mes-no-message {
//                             @include font-red-basic;
//                             font-style: italic;
//                             padding: 0 0.5rem;
//                         }

//                         .chatroom-con-mes {
//                             .con-mes-avatar {
//                                 background-color: $greyM;
//                                 color: $greyM;
//                                 border-radius: 50px;
//                                 width: 40px;
//                             }

//                             .con-mes-message {
//                                 @include font-red-basic;
//                                 font-style: italic;
//                                 padding: 0 0.5rem;
//                             }

//                             .con-mes-message-time {
//                                 @include grey-text-small;
//                                 padding: 0 0.5rem;
//                             }
//                         }

//                         button {
//                             @include button-only-text;
//                             font-style: italic;
//                             color: $olfred;
//                         }
//                     }
//                 }
//             }
//           }
//         }
//       }
//     }

//     //   ONLY ON WIDTH > MEDIUM (DESKTOP)

//     &.page-dashboard-desktop {
//       .dashboard-con {
//         padding: 3rem;
//       }

//       .search-chatroom-con {
//         padding-bottom: 1rem;
//       }

//         //   ONLY ON WIDTH > MEDIUM (DESKTOP)

//         &.page-dashboard-desktop {

//             .dashboard-con {
//             }

//             .search-chatroom-con {
//                 padding-bottom: 1rem;
//             }

//             .dashboard-con-col2 {
//                 width: 25%;
//                 border-right: 3px solid white;
//                 padding: 0 2rem;

//                 .dash-home-chatrooms {
//                     @include hidden-scroll;
//                     height: 29rem;
//                 }

//                 .dash-home-chatrooms::-webkit-scrollbar {
//                     display: none;
//                 }
//             }

//         .dash-home-chatrooms {
//           @include hidden-scroll;
//           height: 29rem;
//         }

//         .dash-home-chatrooms::-webkit-scrollbar {
//           display: none;
//         }
//       }
//     }

//     //   ONLY ON WIDTH < MEDIUM (MOBILE)

//     &.page-dashboard-mobile {
//       .dashboard-con-col2 {
//         padding: 0 1rem;
//       }

//       .dash-home-chatrooms {
//         padding-top: 1rem;
//         height: 80vh;
//         overflow: scroll;
//       }

//       .create-chatroom-con {
//         width: 100%;
//         height: 10vh;
//       }
//     }
//   }
// }

@import "/src/style/login.scss";

@import "/src/style/components/colours.scss";
@import "/src/style/components/fonts.scss";
@import "/src/style/components/buttons.scss";
@import "../components/mixins.scss";
@import url("https://use.typekit.net/rdr3hkg.css");

.page {
  &.page-dashboard {
    //   BOTH MOBILE AND DESKTOP

    .create-chatroom-con,
    .search-chatroom-con {
      justify-content: space-between;
    }

    .col2-chatroom-con {
      box-shadow: 0px 3px 6px #00000029;
    }

    .search-chatroom-con {
      width: 100%;

      label {
        padding: 0 0.3rem 0 1rem;
        transform: translateY(15%);
        color: $greyD;
      }

      input[type="text"] {
        width: 100%;
      }

      input[type="checkbox"] {
        @include checkbox-style;
        background-color: white;
        transform: translateY(50%);
      }

      input[type="checkbox"]:checked {
        @include checkbox-style;
        background-color: $olfred;
        border: 2px solid white;
      }
    }

    .dashboard-con-col2 {
      padding: 0;

      h4 {
        display: none;
      }

      button {
        background-color: transparent;
        border-style: none;
        color: white;
        border-bottom: 2px solid white;
      }

      input {
      }

      input[type="text"] {
        border-style: none;
        border-radius: 23px;
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
        font-style: italic;
      }

      input[type="text"]:focus {
        outline: none;
        color: $greyD;
        font-style: italic;
      }

      .dash-home-chatrooms {
        flex-direction: column;
        width: 100%;

        .home-chatrooms-con {
          flex-direction: column;
          gap: 1rem;

          .col2-chatroom-con {
            cursor: pointer;
            border-radius: 23px;
            padding: 1rem 1rem 1rem 1rem;

            .chatroom-con-title-fav-con {
              justify-content: space-between;
              .fav-con-name-admin {
                h5 {
                  @include olf-header-2;
                  padding-right: 0.5rem;
                }

                .fav-con-admin-icon {
                  font-size: 13px;
                  color: white;
                  background-color: $olfYellow;
                  border-radius: 50%;
                  height: 75%;
                  padding: 0 0.4rem;
                  // transform: translateY(-5px)
                }
              }

              path,
              svg {
                @include svg-scale-small;
                fill: white;

                &.starmarked {
                  // fill: $olfred;
                  fill: yellow;
                }
              }
            }

            .con-mes-no-message {
              @include font-red-basic;
              font-style: italic;
              padding: 0 0.5rem;
            }

            .chatroom-con-mes {
              .con-mes-avatar {
                background-color: $greyM;
                color: $greyM;
                border-radius: 50px;
                width: 40px;
              }

              .con-mes-message {
                @include font-red-basic;
                font-style: italic;
                padding: 0 0.5rem;
              }

              .con-mes-message-time {
                @include grey-text-small;
                padding: 0 0.5rem;
              }
            }

            button {
              @include button-only-text;
              font-style: italic;
              color: $olfred;
            }
          }
        }
      }
    }

    //   ONLY ON WIDTH > MEDIUM (DESKTOP)

    &.page-dashboard-desktop {
      .dashboard-con {
      }

      .search-chatroom-con {
        padding-bottom: 1rem;
      }

      .dashboard-con-col2 {
        // width: 25%;
        border-right: 3px solid white;
        padding: 0 2rem;

        .dash-home-chatrooms {
          @include hidden-scroll;
          height: 29rem;
        }

        .dash-home-chatrooms::-webkit-scrollbar {
          display: none;
        }
      }
    }

    //   ONLY ON WIDTH < MEDIUM (MOBILE)

    &.page-dashboard-mobile {
      .dashboard-con-col2 {
        padding: 0 1rem;
      }

      .dash-home-chatrooms {
        padding-top: 1rem;
        height: 80vh;
        overflow: scroll;
      }

      .create-chatroom-con {
        width: 100%;
        height: 10vh;
      }
    }
  }
}
