@import "/src/style/login.scss";

@import "/src/style/components/colours.scss";
@import "/src/style/components/fonts.scss";
@import "/src/style/components/buttons.scss";
@import "../components/mixins.scss";
@import url("https://use.typekit.net/rdr3hkg.css");

.page {
  &.page-dashboard {
    //   BOTH MOBILE AND DESKTOP

    .dashboard-con {
      min-height: 100vh;

      .col3-chat-con {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 23px;

        &.chatstate {
          justify-content: space-between;
          .chat-con-mid {
            height: 62vh;
            gap: 1rem;
          }
        }
      }

      .chat-con-bot,
      .chat-con-top {
        justify-content: space-between;
      }

      .dashboard-con-col3 {
        .col3-chat-con {
          flex-direction: column;
          background-color: $white;
          padding: 1.5rem 2rem 2rem 2rem;

          .create-chatroom-button {
            @include button-small-red;
            align-self: center;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }

          .chat-con-top {
            border-bottom: 3px solid $olfRedL;
            padding-bottom: 0.5rem;

            .top-userinfo {
              .userinfo-avatar {
                color: $greyL;
                // background-color: $greyL;
                width: 50px;
                height: 50px;
                border-radius: 50px;
              }

              .top-userinfo-chatroom-name {
                @include olf-header-2;
                text-transform: uppercase;
                padding: 0.9rem 0 0 1rem;
              }
            }

            .top-settings {
              .userinfo-avatar {
                font-size: 160%;
                color: $olfred;
                width: 1rem;
                text-align: center;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }

          .chat-con-mid {
            @include hidden-scroll;
            height: 100%;

            display: flex;
            flex-direction: column;
            position: relative;
            padding-right: 0.4rem;
            padding-top: 0.4rem;
            // position: relative;

            .arr-con {
              position: relative;
              text-align: center;
              i {
                position: fixed;
                z-index: 1000;
                background-color: $olfred;
                color: white;
                border-radius: 111px;
                padding: 0.5rem;
                margin-top: 0.5rem;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.1);
                }
              }
            }

            .userupdate-msg {
              justify-content: center;
              .userupdate-msg-ava {
                min-width: 1.5rem;
                height: 1.5rem;
                background-color: $white;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
            }

            .message-right,
            .message-left {
              // display: table;
              flex-direction: column;
              // margin-bottom: 1rem;
              max-width: 70%;

              &.reac {
                    padding-bottom: 0.5rem;
              }

              .msg-details-name {
                padding-top: 0.6rem;
                color: $greyD;
              }

              .msg-details-time {
                color: $greyM;
                font-size: 70%;
              }

              &.active {
                margin-top: 1.7rem;
              }

              .message-wrapper {
                gap: 1rem;

                &:hover {
                  cursor: pointer;
                }

                .message-text {
                  color: $white;
                  // padding: 0.5rem 1rem;

                  padding: 0.35rem 1rem 0.5rem 1rem;
                  border-radius: 23px;
                  align-items: center;
                  display: flex;
                }

                .message-avatar {
                  align-self: end;
                  min-width: 2.5rem;
                  height: 2.5rem;
                  background-color: $white;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;

                  .onlinestatus-con {
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    height: 100%;
                    float: right;
                    padding-right: 0.3rem;

                    .user-con-onlinestatus {
                      height: 0.7rem;
                      width: 0.7rem;
                      border-radius: 50%;
                      display: table;
                      position: absolute;
                    }
                  }
                }
              }
            }

            .message-right {
              margin-left: auto;
              align-items: flex-end;

              &.noava {
                padding-right: 2.5rem;
              }

              .reactions-con {
                position: relative;

                .reactions-con-showadd {
                  i {
                    position: absolute;
                    background-color: white;
                    border-radius: 111px;
                    padding: 0.2rem;
                    color: $olfred;
                    left: -0.7rem;
                    top: -0.4rem;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }

                .reactions-add-con {
                  position: absolute;
                  top: -1.3rem;
                  gap: 0.1rem;
                  background-color: rgb(243, 243, 243);
                  border-radius: 111px;
                  padding: 0.2rem;
                  // left: -7rem;
                  right: 0;

                  div {

                    &:hover {
                      cursor: pointer;
                      transform: scale(1.1)
                    }
                    i {
                    display: table;
                    height: min-content;
                    // background-color: white;
                    padding: 0.23rem;
                    border-radius: 111px;
                    color: $olfred;


                  }
                    
                  }

                  
                }

                .reactions-added-con {
                  position: absolute;
                  bottom: -1rem;
                  gap: 0.1rem;

                  i {
                    display: table;
                    height: min-content;
                    background-color: white;
                    padding: 0.23rem;
                    border-radius: 111px;
                    color: $olfred;
                  }
                }
              }

              .message-text {
                background-color: $olfred;
              }
            }

            .message-left {
              margin-right: auto;
              align-items: flex-start;

              &.noava {
                padding-left: 2.5rem;
              }

              .reactions-con {
                position: relative;

                .reactions-con-showadd {
                  i {
                    position: absolute;
                    background-color: white;
                    border-radius: 111px;
                    padding: 0.2rem;
                    color: $olfred;
                    top: -0.4rem;
                    right: -0.4rem;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }

                .reactions-add-con {
                  position: absolute;
                  top: -1.3rem;
                  gap: 0.1rem;
                  background-color: rgb(243, 243, 243);
                  border-radius: 111px;
                  padding: 0.2rem;
                  left: 0;

                  div {
                    &:hover {
                      cursor: pointer;
                      transform: scale(1.1)
                    }


                  i {
                    display: table;
                    height: min-content;
                    // background-color: white;
                    padding: 0.23rem;
                    border-radius: 111px;
                    color: $olfred;

                  }

                  }
                }

                .reactions-added-con {
                  position: absolute;
                  bottom: -1rem;
                  gap: 0.1rem;
                  right: 0;

                  i {
                    display: table;
                    height: min-content;
                    background-color: white;
                    padding: 0.23rem;
                    border-radius: 111px;
                    color: $olfred;
                  }
                }
              }
              .message-text {
                background-color: $greenC;
              }
            }

            .istyping-con {
              gap: 5px;

              .istyping-avatar {
                width: 1rem;
                height: 1.5rem;
                background-color: $white;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
            }

            // TEMP SETTINGS

            .chat-settings-members {
              color: $greyM;
            }

            .chat-settings-members-container {
              gap: 0.5rem;
              padding-bottom: 0.5rem;
            }

            .chat-settings-current-members {
              color: $white;
              background-color: $olfred;
              border-radius: 23px;
              padding: 0 0 0.2rem 0.5rem;

              .current-members {
                padding-right: 0.5rem;
              }

              span {
                font-size: 13px;
                color: $olfYellow;
                background-color: white;
                border-radius: 23px;
                padding: 0.1rem 0.5rem 0.3rem 0.5rem;
                transform: translate(-2px, 1.5px);
              }
            }

            .chat-settings-make-admin,
            .chat-settings-kick {
              color: $greyD;
              font-style: italic;
            }

            .chat-settings-kick {
              padding-bottom: 0.5rem;
            }

            .chat-settings-text {
              @include font-red-basic;
              padding-right: 0.5rem;
              padding-bottom: 0.5rem;
            }

            .chat-settings-input-text {
              @include grey-input-field;
            }

            .chat-settings-add-member-user {
              color: $white;
              background-color: $olfred;
              padding: 0.2rem 0.5rem;
              border-radius: 15px;

              &:hover {
                background-color: $blueC;
                cursor: pointer;
              }
            }

            .chat-settings-default-colors {
              gap: 0.5rem;
              padding-bottom: 1rem;

              .settings-con-yellow,
              .settings-con-purple,
              .settings-con-blue,
              .settings-con-green {
                @include color-default-size;
                cursor: pointer;
              }

              .chosen-color {
                border: 3px solid $greyM;
              }

              .settings-con-green {
                background-color: $greenC;
              }

              .settings-con-blue {
                background-color: $blueC;
              }

              .settings-con-purple {
                background-color: $purpleC;
              }

              .settings-con-yellow {
                background-color: $yellowC;
              }
            }

            .chat-settings-color-pick {
              .chat-settings-color-picker {
                border-radius: 50%;
                height: 3rem;
                width: 4rem;
                border: none;
                outline: none;
                -webkit-appearance: none;
                cursor: pointer;
              }

              .chat-settings-color-picker::-webkit-color-swatch-wrapper {
                padding: 0;
              }

              .chat-settings-color-picker::-webkit-color-swatch {
                border: none;
                border-radius: 10px;
              }
            }

            .chat-settings-delete {
              color: $greyD;
              font-style: italic;
              cursor: pointer;
            }

            .chat-settings-save {
              margin: auto;
              background-color: $olfred;
              color: $white;
              display: table;
              padding: 1rem 2rem;
              border-radius: 23px;
              cursor: pointer;
            }
            // -------------------------
          }

          .chat-con-mid::-webkit-scrollbar {
            display: none;
          }

          .chat-con-bot {
            padding-top: 1rem;
            .con-bot-con-message {
              width: 100%;
              padding-right: 1rem;

              input {
                @include grey-input-field;
                width: 100%;
                height: 6vh;
              }

              input:focus {
                outline: none;
                color: $greyD;
              }

              ::placeholder {
                opacity: 0.8;
              }
            }

            button {
              @include button-small-blue;
            }
          }
        }
      }
    }

    //   ONLY ON WIDTH > MEDIUM (DESKTOP)

    &.page-dashboard-desktop {
      .dashboard-con {
        // padding: 3rem;
      }

      .dashboard-con-col3 {
        // width: 58%;
        padding: 0 0 0 2rem;
      }
    }

    //   ONLY ON WIDTH < MEDIUM (MOBILE)

    &.page-dashboard-mobile {
    }
  }
}
