@import "./colours.scss";
@import url("https://use.typekit.net/rdr3hkg.css");
@import url("https://use.typekit.net/rdr3hkg.css");

@mixin button-large-red {
    background-color: $olfred;
    border-style: none;
    padding: 10px 15px 10px 15px;
    border-radius: 23px;
    color: $white;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

    &:hover {
        background-color: $blueC;
    } 

    &:focus {
        transform: scale(1.1);
        box-shadow: 0px 3px 3px #00000029;
        background-color: $blueC;
    }
 
}

@mixin button-large-white {
    background-color: $white;
    border-style: none;
    padding: 10px 15px 10px 15px;
    border-radius: 23px;
    color: $olfred;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

  
}

// slide right animation




// radius animation
// transition: ease-in-out 0.2s;
    
// &:hover {
//     border-radius: 10px;
// }