@import "./colours.scss";
@import url("https://use.typekit.net/rdr3hkg.css");
@import url("https://use.typekit.net/rdr3hkg.css");

@mixin button-large-red {
    background-color: $olfred;
    border-style: none;
    padding: 10px 15px 10px 15px;
    border-radius: 23px;
    color: $white;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

    &:hover {
        background-color: $blueC;
    }

    &:focus {
        transform: scale(1.1);
        box-shadow: 0px 3px 3px #00000029;
        background-color: $blueC;
    }

}

@mixin button-large-white {
    background-color: $white;
    border-style: none;
    padding: 10px 15px 10px 15px;
    border-radius: 23px;
    color: $olfred;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;


}

@mixin button-small-red {
    border-radius: 23px;
    border: none;
    background-color: $olfred;
    padding: 0.5rem 1rem;
    color: $white;
}

@mixin button-small-blue {
    border-radius: 23px;
    border: none;
    background-color: $blueC;
    padding: 0.5rem 1rem;
    color: $white;
}

@mixin button-small-white {
    border-radius: 23px;
    border: none;
    background-color: $white;
    padding: 0.5rem 1rem;
    color: $olfred;
}


@mixin button-only-text {
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
    border-style: none;
    text-decoration-line: underline;
}