$white: #FFFFFF;
$greyL: #F2F2F2;
$greyM: #B7B7B7;
$greyD: #6B6B6B;

// chat colours
$greenC: #A2DC68;
$blueC: #68DCC4;
$purpleC: #DC68D0;
$yellowC: #D8DC68;

// olf theme
$olfYellow: #F6C658;
$olfYellowD: #EFA700;
$olfred: #FF997D;
$olfRedL: #FFDBD1;