@import "./colours.scss";
@import url("https://use.typekit.net/rdr3hkg.css");
@import url("https://use.typekit.net/rdr3hkg.css");

// olf yellow basic
@mixin font-yellow-basic {
    color: $olfYellowD;
    font-size: 20px;
    font-family: lato, sans-serif;
}

// olf white basic
@mixin font-white-basic {
    color: $white;
    font-size: 20px;
    font-family: lato, sans-serif;
    letter-spacing: 1px;
}

// olf nav
@mixin font-nav-basic {
    color: $white;
    font-size: 20px;
    font-family: lato, sans-serif;
    letter-spacing: 3px;
}

// olf red basic

// olf header red
@mixin olf-header-1 {
    color: $olfred;
    font-size: 30px;
    font-family: lato, sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

// olf header yellow
@mixin olf-header-2 {
    color: $olfYellowD;
    font-size: 17px;
    font-family: lato, sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}
   
// grey text
@mixin grey-text {
    color: $greyM;
    font-size: 17px;
    font-family: lato, sans-serif;
}
