@import "/src/style/login.scss";

@import "/src/style/components/colours.scss";
@import "/src/style/components/fonts.scss";
@import "/src/style/components/buttons.scss";
@import url("https://use.typekit.net/rdr3hkg.css");

#root,
.App,
body,
.page {
  max-height: 100vh;
}

// .page {
//   margin: 0;
//   min-width: 100%;
//   min-height: 100vh;
//   background-image: url(../images/Olf-pattern.png),
//     linear-gradient(#f6c658, #ff997d);

//   &.page-dashboard {
//     //   BOTH MOBILE AND DESKTOP

//     .search-chatroom-con {
//       width: 100%;
//       justify-content: space-between;

//       label {
//         padding: 0 0.3rem 0 1rem;
//         transform: translateY(15%);
//         color: $greyD;
//       }

//       input[type="text"] {
//         width: 100%;
//       }

//       input[type="checkbox"] {
//         -webkit-appearance: none;
//         background-color: white;
//         width: 17px;
//         height: 17px;
//         border-radius: 23px;
//         transform: translateY(50%);
//         box-shadow: 0px 3px 6px #00000011;
//       }

//       input[type="checkbox"]:checked {
//         -webkit-appearance: none;
//         background-color: $olfred;
//         width: 17px;
//         height: 17px;
//         border-radius: 23px;
//         border: 2px solid white;
//       }
//     }

//     .dashboard-con {
//       min-height: 100vh;

//       .user-con-avatar {
//         &:after {
//           content: "";
//           background-color: hotpink;
//           width: 1rem;
//           height: 1rem;
//           position: absolute;
//         }
//       }

//       .dashboard-con-col2 {
//         padding: 0;

//         h4 {
//           display: none;
//         }

//         button {
//           background-color: transparent;
//           border-style: none;
//           color: white;
//           border-bottom: 2px solid white;
//         }

//         input {
//         }

//         input[type="text"] {
//           border-style: none;
//           border-radius: 23px;
//           box-shadow: 0px 3px 6px #00000029;
//           padding: 0.3rem 0.8rem 0.3rem 0.8rem;
//         }

//         input[type="text"]:focus {
//           outline: none;
//           color: $greyD;
//         }

//         .dash-home-chatrooms {
//           flex-direction: column;
//           width: 100%;

//           .home-chatrooms-con {
//             flex-direction: column;
//             gap: 1rem;

//             .col2-chatroom-con {
//               cursor: pointer;
//               border-radius: 23px;
//               padding: 1rem 1rem 1rem 1rem;
//               box-shadow: 0px 3px 6px #00000029;
//               // background: linear-gradient(235deg,
//               //         $blueC 25%,
//               //         rgba(255, 255, 255, 1) 25%);

//               .chatroom-con-title-fav-con {
//                 justify-content: space-between;

//                 h5 {
//                   @include olf-header-2;
//                 }
//               }

//               .chatroom-con-mes {
//                 .con-mes-avatar {
//                   background-color: $greyM;
//                   color: $greyM;
//                   border-radius: 50px;
//                   width: 40px;
//                 }

//                 .con-mes-message {
//                   @include font-red-basic;
//                   font-style: italic;
//                 }

// <<<<<<< HEAD
//                 .con-mes-message-time {
//                   @include grey-text-small;
// =======
//             .dashboard-con-col3 {

//                 .col3-chat-con {
//                     flex-direction: column;
//                     justify-content: space-between;
//                     background-color: white;
//                     box-shadow: 0px 3px 6px #00000029;
//                     border-radius: 23px;
//                     height: 100%;
//                     padding: 1rem 1.5rem 1.5rem 1.5rem;

//                     .create-chatroom-button {
//                         align-self: center;
//                         background-color: $olfred;
//                         border-style: none;
//                         color: white;
//                         border-radius: 23px;
//                         padding: 0.5rem 1.5rem;
//                         position: absolute;
//                         top: 50%;
//                         -ms-transform: translateY(-50%);
//                         transform: translateY(-50%);

//                     }

//                     .chat-con-top {
//                         justify-content: space-between;
//                         border-bottom: 3px solid $olfRedL;
//                         height: 9vh;
//                         padding-bottom: 0.5rem;

//                         .top-userinfo {

//                             .userinfo-avatar {
//                                 color: $greyL;
//                                 width: 50px;
//                                 background-color: $greyL;
//                                 border-radius: 50px;
//                             }

//                             .top-userinfo-chatroom-name {
//                                 @include olf-header-2;
//                                 text-transform: uppercase;
//                                 padding: 0.9rem 0 0 1rem;
//                             }
//                         }

//                         .top-settings {
//                             .userinfo-avatar {
//                                 font-size: 30px;
//                                 color: $olfred;
//                             }
//                         }

//                     }

//                     .chat-con-mid {
//                         height: 65vh;
//                         padding: 0 2rem;
//                         overflow: scroll;
//                         -ms-overflow-style: none;
//                         /* IE and Edge */
//                         scrollbar-width: none;
//                         /* Firefox */

//                         .message-right,
//                         .message-left {
//                             color: white;
//                             padding: 0.5rem 2.5rem;
//                             display: table;
//                             border-radius: 23px;
//                             margin-bottom: 1rem;
//                             box-shadow: 0px 3px 2px #00000029;
//                         }

//                         .message-right {
//                             background-color: $olfred;
//                             margin-left: auto;
//                         }

//                         .message-left {
//                             background-color: $greenC;
//                         }
//                     }

//                     .chat-con-mid::-webkit-scrollbar {
//                         display: none;
//                     }

//                     .chat-con-bot {
//                         justify-content: space-between;

//                         .con-bot-con-message {
//                             width: 100%;
//                             padding-right: 1rem;

//                             input {
//                                 border-style: none;
//                                 border-radius: 23px;
//                                 height: 6vh;
//                                 background-color: $greyL;
//                                 padding: 0.3rem 1rem;
//                                 width: 100%;
//                             }

//                             input:focus {
//                                 outline: none;
//                                 color: $greyD;
//                             }

//                             ::placeholder {
//                                 opacity: 0.8;
//                             }
//                         }

//                         button {
//                             background-color: $olfred;
//                             border-style: none;
//                             border-radius: 23px;
//                             color: white;
//                             padding: 0.5rem 1rem;
//                         }
//                     }
// >>>>>>> 4c4fa58b04c77c3673aa0f0f791a552b2ad1ef09
//                 }
//               }

//               button {
//                 cursor: pointer;
//                 width: fit-content;
//                 background-color: $olfred;
//                 border-style: none;
//                 border-radius: 23px;
//                 padding: 0.3rem 0.7rem 0.4rem 0.8rem;
//                 color: white;
//               }
//             }
//           }
//         }

//         .create-chatroom-con {
//           justify-content: space-between;

//           button {
//             margin-left: 1rem;
//             cursor: pointer;
//             width: fit-content;
//             background-color: transparent;
//             border-style: none;
//             color: white;
//           }
//         }
//       }

//       .dashboard-con-col3 {
//         .col3-chat-con {
//           flex-direction: column;
//           justify-content: space-between;
//           background-color: white;
//           box-shadow: 0px 3px 6px #00000029;
//           border-radius: 23px;
//           height: 100%;
//           padding: 1rem 1.5rem 1.5rem 1.5rem;

//           .chat-con-top {
//             justify-content: space-between;
//             border-bottom: 3px solid $olfRedL;
//             height: 9vh;
//             padding-bottom: 0.5rem;

//             .top-userinfo {
//               .userinfo-avatar {
//                 color: $greyL;
//                 width: 50px;
//                 background-color: $greyL;
//                 border-radius: 50px;
//               }

//               .top-userinfo-chatroom-name {
//                 @include olf-header-2;
//                 text-transform: uppercase;
//                 padding: 0.9rem 0 0 1rem;
//               }
//             }

//             .top-settings {
//               .userinfo-avatar {
//                 font-size: 30px;
//                 color: $olfred;
//               }
//             }
//           }

//           .chat-con-mid {
//             height: 65vh;
//             padding: 0 2rem;
//             overflow: scroll;
//             -ms-overflow-style: none;
//             /* IE and Edge */
//             scrollbar-width: none;
//             /* Firefox */

//             .message-right,
//             .message-left {
//               color: white;
//               padding: 0.5rem 2.5rem;
//               display: table;
//               border-radius: 23px;
//               margin-bottom: 1rem;
//               box-shadow: 0px 3px 2px #00000029;
//             }

//             .message-right {
//               background-color: $olfred;
//               margin-left: auto;
//             }

//             .message-left {
//               background-color: $greenC;
//             }
//           }

//           .chat-con-mid::-webkit-scrollbar {
//             display: none;
//           }

//           .chat-con-bot {
//             justify-content: space-between;

//             .con-bot-con-message {
//               width: 100%;
//               padding-right: 1rem;

//               input {
//                 border-style: none;
//                 border-radius: 23px;
//                 height: 6vh;
//                 background-color: $greyL;
//                 padding: 0.3rem 1rem;
//                 width: 100%;
//               }

//               input:focus {
//                 outline: none;
//                 color: $greyD;
//               }

//               ::placeholder {
//                 opacity: 0.8;
//               }
//             }

//             button {
//               background-color: $olfred;
//               border-style: none;
//               border-radius: 23px;
//               color: white;
//               padding: 0.5rem 1rem;
//             }
//           }
//         }

//         .send-message-con {
//           width: 100%;
//           justify-content: space-between;

//           input {
//             background-color: $greyL;
//             border-radius: 23px;
//             border: none;
//             padding: 0.5rem 0 0.5rem 1rem;
//             width: 90%;
//             color: $greyD;
//           }

//           input:focus {
//             outline: none;
//             color: $greyD;
//           }

//           button {
//             border-radius: 23px;
//             border: none;
//             background-color: $olfred;
//             padding: 0.5rem;
//           }
//         }
//       }
//     }

//     //   ONLY ON WIDTH > MEDIUM (DESKTOP)

//     &.page-dashboard-desktop {
//       .dashboard-con {
//         padding: 3rem;
//       }

//       .search-chatroom-con {
//         padding-bottom: 1rem;
//       }

//       .dashboard-con-col1 {
//         flex-direction: column;
//         border-right: 3px solid white;

//         .col1-user-con {
//           @include font-white-basic;
//           height: 30%;
//           flex-direction: column;
//           justify-content: space-between;
//         }

//         .col1-nav-con {
//           @include font-nav-basic;
//           flex-direction: column;
//           gap: 2rem;

//           svg {
//             padding-left: 0.3rem;
//             transform: translateY(-0.2rem);
//           }

//           .nav-con-li {
//             cursor: pointer;
//           }

//           a {
//             @include font-nav-basic;
//             text-decoration: none;
//             cursor: pointer;
//           }
//         }
//       }

//       .dashboard-con-col2 {
//         width: 25%;
//         border-right: 3px solid white;
//         padding: 0 2rem;

//         .dash-home-chatrooms {
//           height: 29rem;
//           overflow: scroll;
//           -ms-overflow-style: none;
//           /* IE and Edge */
//           scrollbar-width: none;
//           /* Firefox */
//         }

//         .dash-home-chatrooms::-webkit-scrollbar {
//           display: none;
//         }
//       }

// <<<<<<< HEAD
//       .dashboard-con-col3 {
//         width: 58%;
//         padding: 0 0 0 2rem;
//       }
//     }

//     //   ONLY ON WIDTH < MEDIUM (MOBILE)
//     &.page-dashboard-mobile {
//       .dashboard-con-col1 {
//         height: 10vh;
//         width: 100%;
//       }
// =======
//             .col12-chatroom-con {
//             }

//             .dashboard-con-col2 {
//                 padding: 0 1rem;
//             }

//             .dash-home-chatrooms {
//                 padding-top: 1rem;
//                 height: 80vh;
//                 overflow: scroll;
// >>>>>>> 4c4fa58b04c77c3673aa0f0f791a552b2ad1ef09

//       .dashboard-con-col2 {
//       }

//       .dash-home-chatrooms {
//         height: 80vh;
//         overflow: hidden;

//         .home-chatrooms-con {
//         }
//       }

//       .create-chatroom-con {
//         width: 100%;
//         height: 10vh;
//       }
//     }
//   }
// }

.page {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background-image: url(../images/Olf-pattern.png),
    linear-gradient(#f6c658, #ff997d);

  &.page-dashboard {
    //   BOTH MOBILE AND DESKTOP

    .search-chatroom-con {
      width: 100%;
      justify-content: space-between;

      label {
        padding: 0 0.3rem 0 1rem;
        transform: translateY(15%);
        color: $greyD;
      }

      input[type="text"] {
        width: 100%;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        background-color: white;
        width: 17px;
        height: 17px;
        border-radius: 23px;
        transform: translateY(50%);
        box-shadow: 0px 3px 6px #00000011;
      }

      input[type="checkbox"]:checked {
        -webkit-appearance: none;
        background-color: $olfred;
        width: 17px;
        height: 17px;
        border-radius: 23px;
        border: 2px solid white;
      }
    }

    .dashboard-con {
      min-height: 100vh;

      .user-con-avatar {
        &:after {
          content: "";
          background-color: hotpink;
          width: 1rem;
          height: 1rem;
          position: absolute;
        }
      }

      .dashboard-con-col2 {
        padding: 0;

        h4 {
          display: none;
        }

        button {
          background-color: transparent;
          border-style: none;
          color: white;
          border-bottom: 2px solid white;
        }

        input {
        }

        input[type="text"] {
          border-style: none;
          border-radius: 23px;
          box-shadow: 0px 3px 6px #00000029;
          padding: 0.3rem 0.8rem 0.3rem 0.8rem;
        }

        input[type="text"]:focus {
          outline: none;
          color: $greyD;
        }

        .dash-home-chatrooms {
          flex-direction: column;
          width: 100%;

          .home-chatrooms-con {
            flex-direction: column;
            gap: 1rem;

            .col2-chatroom-con {
              cursor: pointer;
              border-radius: 23px;
              padding: 1rem 1rem 1rem 1rem;
              box-shadow: 0px 3px 6px #00000029;
              //   background: linear-gradient(
              //     235deg,
              //     $blueC 25%,
              //     rgba(255, 255, 255, 1) 25%
              //   );

              path,
              svg {
                fill: white;
                transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
              }

              .starmarked {
                path,
                svg {
                  fill: $olfred;
                  transform: scale(0.9);
                  -ms-transform: scale(0.9);
                  -webkit-transform: scale(0.9);
                }
              }

              .chatroom-con-title-fav-con {
                justify-content: space-between;

                h5 {
                  @include olf-header-2;
                }
              }

              .con-mes-no-message {
                @include font-red-basic;
                font-style: italic;
                padding: 0 0.5rem;
              }

              .chatroom-con-mes {
                .con-mes-avatar {
                  background-color: $greyM;
                  color: $greyM;
                  border-radius: 50px;
                  width: 40px;
                }

                .con-mes-message {
                  @include font-red-basic;
                  font-style: italic;
                  padding: 0 0.5rem;
                }

                .con-mes-message-time {
                  @include grey-text-small;
                  padding: 0 0.5rem;
                }
              }

              button {
                cursor: pointer;
                width: fit-content;
                background-color: transparent;
                border-style: none;
                font-style: italic;
                text-decoration-line: underline;
                color: $olfred;
              }
            }
          }
        }

        .create-chatroom-con {
          justify-content: space-between;

          button {
            margin-left: 1rem;
            cursor: pointer;
            width: fit-content;
            background-color: transparent;
            border-style: none;
            color: white;
          }
        }
      }

      .dashboard-con-col3 {
        .col3-chat-con {
          flex-direction: column;
          justify-content: space-between;
          background-color: white;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 23px;
          height: 100%;
          padding: 1rem 1.5rem 1.5rem 1.5rem;

          .create-chatroom-button {
            align-self: center;
            background-color: $olfred;
            border-style: none;
            color: white;
            border-radius: 23px;
            padding: 0.5rem 1.5rem;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }

          .chat-con-top {
            justify-content: space-between;
            border-bottom: 3px solid $olfRedL;
            height: 9vh;
            padding-bottom: 0.5rem;

            .top-userinfo {
              .userinfo-avatar {
                color: $greyL;
                width: 50px;
                background-color: $greyL;
                border-radius: 50px;
              }

              .top-userinfo-chatroom-name {
                @include olf-header-2;
                text-transform: uppercase;
                padding: 0.9rem 0 0 1rem;
              }
            }

            .top-settings {
              .userinfo-avatar {
                font-size: 30px;
                color: $olfred;
              }
            }
          }

          .chat-con-mid {
            height: 65vh;
            padding: 0 2rem;
            overflow: scroll;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */

            .message-right,
            .message-left {
              color: white;
              padding: 0.5rem 2.5rem;
              display: table;
              border-radius: 23px;
              margin-bottom: 1rem;
              box-shadow: 0px 3px 2px #00000029;
            }

            .message-right {
              background-color: $olfred;
              margin-left: auto;
            }

            .message-left {
              background-color: $greenC;
            }
          }

          .chat-con-mid::-webkit-scrollbar {
            display: none;
          }

          .chat-con-bot {
            justify-content: space-between;

            .con-bot-con-message {
              width: 100%;
              padding-right: 1rem;

              input {
                border-style: none;
                border-radius: 23px;
                height: 6vh;
                background-color: $greyL;
                padding: 0.3rem 1rem;
                width: 100%;
              }

              input:focus {
                outline: none;
                color: $greyD;
              }

              ::placeholder {
                opacity: 0.8;
              }
            }

            button {
              background-color: $olfred;
              border-style: none;
              border-radius: 23px;
              color: white;
              padding: 0.5rem 1rem;
            }
          }
        }

        .send-message-con {
          width: 100%;
          justify-content: space-between;

          input {
            background-color: $greyL;
            border-radius: 23px;
            border: none;
            padding: 0.5rem 0 0.5rem 1rem;
            width: 90%;
            color: $greyD;
          }

          input:focus {
            outline: none;
            color: $greyD;
          }

          button {
            border-radius: 23px;
            border: none;
            background-color: $olfred;
            padding: 0.5rem;
          }
        }
      }
    }

    //   ONLY ON WIDTH > MEDIUM (DESKTOP)

    &.page-dashboard-desktop {
      .dashboard-con {
        padding: 3rem;
      }

      .search-chatroom-con {
        padding-bottom: 1rem;
      }

      .dashboard-con-col1 {
        flex-direction: column;
        border-right: 3px solid white;

        .col1-user-con {
          @include font-white-basic;
          height: 30%;
          flex-direction: column;
          justify-content: space-between;
        }

        .col1-nav-con {
          @include font-nav-basic;
          flex-direction: column;
          gap: 2rem;

          svg {
            padding-left: 0.3rem;
            transform: translateY(-0.2rem);
          }

          .nav-con-li {
            cursor: pointer;
          }

          a {
            @include font-nav-basic;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }

      .dashboard-con-col2 {
        width: 25%;
        border-right: 3px solid white;
        padding: 0 2rem;

        .dash-home-chatrooms {
          height: 29rem;
          overflow: scroll;
          -ms-overflow-style: none;
          /* IE and Edge */
          scrollbar-width: none;
          /* Firefox */
        }

        .dash-home-chatrooms::-webkit-scrollbar {
          display: none;
        }
      }

      .dashboard-con-col3 {
        width: 58%;
        padding: 0 0 0 2rem;
      }
    }

    //   ONLY ON WIDTH < MEDIUM (MOBILE)
    &.page-dashboard-mobile {
      .dashboard-con-col1 {
        height: 10vh;
        width: 100%;
      }

      .col12-chatroom-con {
      }

      .dashboard-con-col2 {
        padding: 0 1rem;
      }

      .dash-home-chatrooms {
        padding-top: 1rem;
        height: 80vh;
        overflow: scroll;

        .home-chatrooms-con {
        }
      }

      .create-chatroom-con {
        width: 100%;
        height: 10vh;
      }
    }
  }
}
