@import "/src/style/login.scss";

@import "/src/style/components/colours.scss";
@import "/src/style/components/fonts.scss";
@import "/src/style/components/buttons.scss";
@import url("https://use.typekit.net/rdr3hkg.css");

.page {
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    background-image: url(../images/Olf-pattern.png), linear-gradient(#F6C658, #FF997D);
  
  &.page-dashboard {
  
    //   BOTH MOBILE AND DESKTOP
    .dashboard-con {
      min-height: 100vh;

      .user-con-avatar {
        &:after {
          content: "";
          background-color: hotpink;
          width: 1rem;
          height: 1rem;
          position: absolute;
        }
      }

      .dashboard-con-col2 {
        .dash-settings-chatrooms {
          flex-direction: column;

          .col2-chatroom-con {
            background: linear-gradient(235deg,
                rgba(7, 109, 255, 1) 25%,
                rgba(255, 255, 255, 1) 25%);
          }
        }

        .dash-home-chatrooms {
          flex-direction: column;

          .col2-chatroom-con {
            background: linear-gradient(235deg,
                rgba(7, 109, 255, 1) 25%,
                rgba(255, 255, 255, 1) 25%);

            .chatroom-con-title-fav-con {
              justify-content: space-between;
            }
          }
        }
      }

      .dashboard-con-col3 {
        .col3-chat-con {
          flex-direction: column;
          justify-content: space-between;

          .chat-con-top {
            justify-content: space-between;
          }

          .chat-con-mid {

          }

          .chat-con-bot {

          }
        }
      }
    }

    //   ONLY ON WIDTH > MEDIUM (DESKTOP)
    &.page-dashboard-desktop {
      .dashboard-con-col1 {
        flex-direction: column;

        .col1-user-con {
          height: 30%;
          flex-direction: column;
          justify-content: space-between;
        }

        .col1-nav-con {
          height: 70%;
          padding-top: 3rem;
          flex-direction: column;
          gap: 2rem;
        }
      }

      .dashboard-con-col2 {

      }
    }

    //   ONLY ON WIDTH < MEDIUM (MOBILE)
    &.page-dashboard-mobile {
      .dashboard-con-col1 {
        height: 20vh;
      }

      .dashboard-con-col2 {
        height: 80vh;
      }
    }
  }
}