@import "/src/style/login.scss";
@import "/src/style/dashboard.scss";

@import "/src/style/components/colours.scss";
@import "/src/style/components/fonts.scss";
@import "/src/style/components/buttons.scss";
@import url("https://use.typekit.net/rdr3hkg.css");

* {
  // border: 1px solid black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.height100 {
  height: 100%;
}

.height100vh {
  height: 100vh;
}

.col-nopad {
  padding: 0;
}